<section class="shortcode-item">
  <div class="container">
    <div class="row">
      <div class="center">  
          <h2>Финишеры 2014-2015гг</h2>
      </div>
      <table class="table table-striped table-bordered table-hover " width="100%">
        <thead>

          <tr>
            <th>#</th>
            <th>Имя пловца </th>
            <th>Город</th>
            <th>Страна</th>
            <th>Полных лет на м. заплыва</th>
            <th>Пол</th>
            <th>Гидрокостюм/без</th>
            <th>Дата заплыва</th>
            <th>Время</th>
            <th>Тип</th>
          </tr>
        </thead>
        <tbody>
          <% @finishers.each_with_index do |fin, index| %>
            <% fin.starts.each do |start| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= fin.first_name %> <%= fin.middle_name %> <%= fin.last_name %></td>
                <td><%= fin.city %></td>
                <td><%= fin.country %></td>
                <td><%= fin.age %></td>
                <td><%= fin.gender %></td>
                <td><%= start.wetsuit ? 'Wetsuit' : 'Non-wetsuit' %></td>
                <td><%= start.date %></td>
                <td><%= start.time %></td>
                <td><%= start.kind %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section id="bottom">
  <div class="container">
    <div class="row">
  Текст про то как классно плавать, зарегайся сегодня
    </div>
  </div>
</section>