<section class="no-margin" id="main-slider">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target=
            "#main-slider"></li>
            <li data-slide-to="1" data-target="#main-slider"></li>
            <li data-slide-to="2" data-target="#main-slider"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style=
            "background-image: url(images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1"
                                style="text-shadow: 1px 1px 2px grey;">
                                От Питера до Кронштадта</h1>
                                <h2 class="animation animated-item-2"
                                style="text-shadow: 1px 1px 2px grey;">
                                Преодолей себя в заплыве на
                                25км</h2><a class=
                                "btn-slide animation animated-item-3 ember-view"
                                href="/about" id="ember613">Вызов
                                принят!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style=
            "background-image: url(images/slider/bg3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1"
                                style="text-shadow: 1px 1px 2px grey;">
                                Соло или эстафета?</h1>
                                <h2 class="animation animated-item-2"
                                style="text-shadow: 1px 1px 2px grey;">
                                Проплыви сам или со своей
                                командой</h2><a class=
                                "btn-slide animation animated-item-3 ember-view"
                                href="/rules" id="ember614">Правила
                                участия...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style=
            "background-image: url(images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1"
                                style="text-shadow: 1px 1px 2px grey;">
                                Участвуй в Kotlinrace 2016</h1>
                                <h2 class="animation animated-item-2"
                                style="text-shadow: 1px 1px 2px grey;">
                                Выбрать дату участия и оставь
                                заявку</h2><a class=
                                "btn-slide animation animated-item-3 ember-view"
                                href="/register" id=
                                "ember615">Регистрация...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel--> <a class="prev hidden-xs" data-slide="prev"
    href="#main-slider"><i class="fa fa-chevron-left"></i></a>
    <a class="next hidden-xs" data-slide="next" href=
    "#main-slider"><i class="fa fa-chevron-right"></i></a>
</section><!--/#main-slider-->