<section id="blog" class="container">
  <div class="container">
    <div class="center">
       <h2>Фотогалерея</h2>
    </div>
    <div class="row">
      <% @images.each do |image| %>
        <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
          <div class="recent-work-wrap">
            <%=image_tag image.file.thumb.url, class: "img-responsive" %>
            <div class="overlay">
              <%=link_to image.file.url, class: "preview", rel: "prettyPhoto" do %>
                <div class="recent-work-inner" style="padding: 50px;">
                  <i class="fa fa-eye"></i> увеличить
                </div> 
              <% end %>
            </div>
          </div>
        </div><!--/.portfolio-item-->
      <% end %>

    </div>
  </div>
</section>
<section id="bottom">
  <div class="container">
    <div class="row">
      А еще текст про то, как отдохнуть в СПБ
    </div>
  </div>
</section>
