<section id="blog" class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="contact-page clearfix">
          <% if flash[:notice] %>
            <div class="status alert alert-success">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <div class="message_heading">
              <h2>Форма отравки заявки на участие</h2>
              <p>Убедитесь что все обязательные поля (помечены *) заполнены.</p>
          </div> 
          <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="<%=apply_form_path %>" role="form">
             <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label>Ваше имя *</label>
                    <input type="text" class="form-control" name="request[name]"required="required" placeholder="пример: Дмитрий Иванович Пловцов">
                  </div>
                  <div class="form-group">
                    <label>Предполагаемая дата заплыва *</label>
                    <input type="text" class="form-control" name="request[when]"required="required" placeholder="пример: летом 2016 / конец июля / 28-08-2016">
                  </div>
                  <div class="form-group">
                    <label>Возраст *</label>
                    <input type="text" class="form-control" name="request[age]"required="required">
                  </div>
                  <div class="form-group">
                    <label>Страна</label>
                    <input type="text" class="form-control" name="request[country]">
                  </div>

                </div>
                <div class="col-sm-7">
                  <div class="form-group">
                    <label>Контакт (телефон/email) *</label>
                    <input type="text" class="form-control" name="request[contact_info]"required="required" placeholder="пример: +79211231223, marathoner@kotlinrace.ru">
                  </div>
                  <div class="form-group">
                    <label>Тип гонки</label>
                    <select class="form-control" name="request[kind]" required="required">
                      <option disabled selected value> -- Выбрать -- </option>
                      <option value="solo">Сольный заплыв</option>
                      <option value="relay">Эстафета</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Вопрос/комментарий к организаторам (если есть)</label>
                    <textarea name="request[comment]" id="message" class="form-control" rows="4"></textarea>
                  </div>                        
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg" required="required">Отправить заявку</button>
                  </div>
                </div>
              </div>
          </form>     
      </div><!--/#contact-page-->
    </div>
  </div>

</section>
<style>
  body {
    background: #fff url(/images/3.jpg);
    z-index: -1;
    color: #fff !important;
  }
  h2 {
    color: #fff;
  }
</style>
