<section id="blog" class="container">
  <div class="center">
    <h2>Отчеты участников</h2>
  </div>

  <div class="blog">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% @reports.each do |report| %>
          <div class="blog-item">
            <div class="row">
              <div class="col-xs-12 col-sm-2 text-center">
                <div class="entry-meta">
                  <span id="publish_date"><%=report.date %></span>
                  <span><i class="fa fa-user"></i> <a href="#"><%=report.author %></a></span>
                </div>
              </div>
                  
              <div class="col-xs-12 col-sm-10 blog-content">
                <%=link_to (image_tag report.cover_image.scaled.url, class: "img-responsive img-blog"), report %>
                <h2><%=link_to report.title, report %></h2>
                <h3><%=report.description %></h3>
                <%=link_to report, class: "btn btn-primary readmore" do %>
                  Далее...
                <% end %>
              </div>
            </div>    
          </div><!--/.blog-item-->
        <% end %>
        <%=paginate @reports %>
      </div><!--/.col-md-8-->

    </div><!--/.row-->
  </div>
</section><!--/#blog-->

<section id="bottom">

</section><!--/#bottom-->