<section id="blog" class="container">
  <div class="blog">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog-item">
          <%=image_tag @report.cover_image.scaled.url, class: "img-responsive img-blog", width: '100%'%>
              <div class="row">  
                  <div class="col-xs-12 col-sm-2 text-center">
                    <div class="entry-meta">
                      <span id="publish_date"><%=@report.date%></span>
                      <span><i class="fa fa-user"></i> <%=@report.author%></span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-10 blog-content">
                      <h2><%=@report.title %></h2>
                      <p><%=@report.description %></p>
                      <p>
                        <%=raw @report.body %>
                      </p>

                  </div>
              </div>
            </div><!--/.blog-item-->
            
            <div class="media reply_section">
                <div class="pull-left post_reply text-center">
                  Поделитесь с друзьями
                </div>
                <div class="media-body post_reply_content">
                    <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter" data-url="http://kotlinrace.ru/<%=report_path(@report)%>" data-title="<%= @report.title %>" data-description="<%=@report.description %>"></div>
                </div>
            </div> 
            
        </div><!--/.col-md-8-->
    </div><!--/.row-->
  </div><!--/.blog-->
</section><!--/#blog-->