
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kotlinrace</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />    
      <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
  <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30658127 = new Ya.Metrika({id:30658127, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/30658127" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    
  </head>
  <body>
    
    <header id="header">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse" role="banner">
            <div class="logotype"><a href="/"><img src="img/kotlinrace.png" width=
            "180px"></a></div>
            <div class="container">
                <div class="navbar-header">
                    <!-- Button for smallest screens --> <button class=
                    "navbar-toggle collapsed" data-target=".navbar-collapse"
                    data-toggle="collapse" type="button"><span class=
                    "sr-only">Переключиться</span> <span class=
                    "icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                </div>
                <div class="navbar-collapse collapse" style="height: 0px;">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="ember-view" href="/finishers" >Финишеры</a>
                        </li>
                        <li>
                            <a class="ember-view" href="/gallery" >Фото</a>
                        </li>
                        <li>
                            <a class="ember-view" href="/reports" >Отчеты</a>
                        </li>
                        <li>
                            <a class="ember-view" href="/culture" >Культура</a>
                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"
                            href="#">О заплыве<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="ember-view" href="/about" >О заплыве</a>
                                </li>
                                <li>
                                    <a class="ember-view" href="/history">История</a>
                                </li>
                                <li>
                                    <a class="ember-view" href="/rules">Правила</a>
                                </li>
                                <li>
                                    <a class="ember-view" href="/authors">Об организаторах</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="btn ember-view" href="/register">Зарегистрироваться</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div><!-- /.navbar -->
    </header>
    <%=yield %>
    <footer class="midnight-blue" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    © 2014-2016 Kotlinrace
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li>
                            <a class="ember-view active" href="/" id=
                            "ember478">Главная</a>
                        </li>
                        <li>
                            <a class="ember-view" href="/about" id=
                            "ember479">О заплыве</a>
                        </li>
                        <li>
                            <a class="btn ember-view" href="/register" id=
                            "ember480">Зарегистрироваться</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>    
  </body>
</html>
